// Replugged-specific styles

// Replaces Carl-bot with more FORG.
// By Saltssaumure and Olaf in Replugged server
// https://discord.com/channels/1000926524452647132/1000955971650195588/1143043939390214204
// https://discord.com/channels/1000926524452647132/1000955971650195588/1145079207915946077
:root:has(.headerButton__3af9f[aria-label="Replugged"]) {
    img[src*="235148962103951360"] {
        content: url("https://cdn.discordapp.com/emojis/1004880213081075772.webp?size=96&quality=lossless");

        ~ .header__39b23 {
            .username_d30d99 {
                font-size: 0;

                &::before {
                    content: "FORG";
                    font-size: 1rem;
                    color: #6ba795;
                }
            }

            .botTag__4211a {
                background: #6ba795;

                .botText__19848 {
                    font-size: 0;

                    &::before {
                        content: "FORG";
                        font-size: 0.625rem;
                        vertical-align: top;
                    }
                }
            }
        }
    }
}
